/*Branch - Batista*/
*{
  margin: 0;
  margin-left: 200%;
  margin-right: 200%;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    justify-content: center;
    
    /*align-items: center;*/
}
.ajuste-margem {
  margin: 0px 150px 0px;
}
.ajuste-margem2 {
  margin: 0px 50px 0px;
}
html {
  scroll-behavior:smooth;
  scroll-snap-time: 2s;
}
.logo img { /*Logo*/
    float: left;
    max-width: 110px; /*Ajustar a altura da imagem*/
    max-height: auto; /*Ajustar a largura da imagem*/
    padding: 10px; /*Ajustar a posição da imagem*/
    /*padding-left: 30px;/*Ajustar a posição da imagem*/
    width: 50%;
}
.logo {
    width: 50%;
    margin-left: 130px;
}

header{
    /*padding: 20px;*/
}
.btn-menu {
    width: 90%;
    text-align: right;
}
.menu-principal {
    width: 100%; /*Aqui digo pra ele preencher e 100%*/
    /*background-color: aquamarine; /**/
    height: 85px;
    /*background-color: aquamarine;*/
    
}
.btn-menu a { /*Menu texto botões*/
    display: inline-block;
    color: grey;
    text-decoration: none;
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-family: Andale Mono, monospace;
    padding-top: 25px;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
}

.btn-menu a::after { /*Animação do css nos botões do menu*/
    content: " ";
    width: 0%;
    height: 2px;
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.btn-menu a:hover::after{ /*Animação do css nos botões do menu*/
    width: 100%;
}
.borda-redonda{
  border-radius: 40px;
}

.espacamento-imgs{
  margin: 10px;
}

.tamanho-imgs-quadrados{
  max-width: 200px;
  border-radius: 40px;
}

.tamanho-imgs-retangulo{
  max-width: 254px;
  border-radius: 40px;
}
.direcao-coluna{
  flex-direction: column;
}
.direcao-linha{
  flex-direction: row;
}
.alinhamento-centro{
  align-items: center;
}

.area1, .area2, .area3, .area4, .area5{
  visibility: hidden;
}
/*Parte Slides*/

.imgslides{
  width: 50px;
  height: 50px;
}

/*slide carossel*/
[data-component="slideshow"] .gallery {
  display: none;
}

[data-component="slideshow"] .gallery.active {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: hidden;
  width: 100%;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;

  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left{
  background: linear-gradient(to left, transparent 0%, black 200%);
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
  background-size: cover;
}

.current-item {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*slide carossel*/

/**/

/*Parte Sobre*/



/*Fontes e alinhamento do site*/
.flex-box{
  display: flex;
}
.Alinhamento-texto{
  text-align: center;
  align: justify;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
.fonte-texto-karla{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.cor-texto{
  color: gray;
}

.formatacao-linhas{
  line-height: 30px;
}
/*Parte Serviços*/
.container-card{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  height: 350px;
  margin: 25px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 7);
}

.card-header{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.card-img{
  min-width: 100%;
  width: 150px;
  height: 100%;
}

.card-body{
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
  background-color: #74d4cc;
  padding: 1px;
}
.card-nome{
  color: rgb(36, 36, 36);
  font-size: 28px;
  margin: 0 0;
  margin-top: 5px;
}
.card-texto{
  color: rgb(36, 36, 36);
  font-size: 14px;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
  margin-top: 5px;
  visibility: hidden;
}
.card:hover{
  transform: scale3d(1.1, 1.1, 1);
  transition: 0.5s;
  height: 450px;
  width: 380px;
}
.card:hover p {
  visibility: visible;
}

@media screen and (max-width: 768px) { 
  .container-card{
      width: 100%;
      flex-direction: column;
  }
}

/*Parte Google Maps*/
.map-box {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: white;
    float: right;
}
.container-flex{
    display: flex;
}
.ajuste-lateral{
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap; /*Deixa responsivo para mobile*/
    /*align-items: center;*/
}


/**Parte responsividade*/
@media screen and (max-width: 768px) { /*Se a tela ficar menor que o tamanho determinado aqui os itens em linha se tornam colunas*/
    .ajuste-lateral{
        width: 100%;
        flex-direction: column;
    }
    .direcao-linha{
      flex-direction: column;
    }
    .logo{
      margin-left: 50px;
    }
}

@media screen and (max-width: 1000px){
  .logo{
    margin-left: 50px;
  }
}


/****************************************************************/
/*Parte contatos*/
.alinhamento-contate-nos{
  margin: 50%;
  margin-top: 10px;
  margin-bottom: -530px;
  position: relative;
}

@media screen and (max-width: 1000px){
  .alinhamento-contate-nos{
    margin: 50%;
    margin-top: 10px;
    margin-bottom: -150px;
    position: relative;
  }
}

.fundo-contatos {
  /*background-color: yellow;*/
  margin-left: 40px;
}

.fundo-contatos2 {
  background-color: beige;
}
.tamanho-imgs-logos-email{
  max-width: 70px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-insta{
  max-width: 50px;
  margin-top: 20px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-whats{
  max-width: 80px;
  margin-top: 17px;
  margin-right: 1px;
  margin-left: 0px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-face{
  max-width: 68px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 1px;
  /*border-radius: 40px;*/
}
.ajuste-lateral2{

  display: flex;
  justify-content: space-around;
  flex: 2;
  flex-wrap: wrap; /*Deixa responsivo para mobile*/
  /*align-items: center;*/
}

.contatos-fundo2 {
  /*flex: none;*/
  /*max-resolution: 100%;*/
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  
}

/*Teste*/

.email-formatacao{
  background-color: #74d4cc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  width: 800px;
  /*box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
}

.email-formatacao form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-formatacao label{
  margin-bottom: 15px;
}

.email-formatacao input{
  padding: 8px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
}

form input:focus{
  border-radius: 16px;
}
form input:hover{
  border-radius: 16px;
}
.email-formatacao textarea{
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 30px;
  transition: all 0.5s;
}

form textarea:focus{
  border-radius: 16px;
}

form textarea:hover{
  border-radius: 16px;
}

.email-formatacao button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #f5f5f5;
  margin-bottom: 20px;
  transition: all 1s;
}

form button:hover{
  border-radius: 16px;
}

/***************************************************************/
/*Parte botão Topo*/

#botao-topo{
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: rgba(127, 255, 212, .5); /*Essa última parte dá efeito de transparência*/
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.seta{
  border: solid gray;
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
}
.cima{
  transform: rotate(-135deg);
}

/**************************************************************/
/*Parte Footer*/
/*Parte Footer*/
.footer-principal{
    background-color: #9fa0a3;
    width: 100%; 
}

.container-footer{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding-right: -10px;
    padding-left: -10px;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}


.alinhamento-texto {
    text-align: center;
}

.footer-col2{
    margin-bottom: 15px;
}

.back1 {
    background-color: aqua;
    margin-right: 20px;
    
}
.back2 {
    background-color: yellow;
    margin-right: 20px;
}
.back3 {
    background-color: royalblue;
}

.justificar-centro {
    justify-content: space-evenly;
}


.footer-estilo-lista{
    list-style: none;
    text-decoration: none;
}

.footer-animacao ul li:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.footer-fonte-texto-kala2{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}
/**************************************/