/*Main - Principal*/
*{
  margin: 0;
  margin-left: 200%;
  margin-right: 200%;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    justify-content: center;
    
    /*align-items: center;*/
}
.ajuste-margem {
  margin: 0px 50px 0px;
}

.ajuste-margem0 {
  margin: 20px;
}

.ajuste-margem2 {
  margin: 0px 50px 0px;
}
html {
  scroll-behavior:smooth;
  scroll-snap-time: 2s;
}
.logo img { /*Logo*/
    float: left;
    max-width: 110px; /*Ajustar a altura da imagem*/
    max-height: auto; /*Ajustar a largura da imagem*/
    padding: 10px; /*Ajustar a posição da imagem*/
    /*padding-left: 30px;/*Ajustar a posição da imagem*/
    width: 50%;
    display: block;
}
.logo {
    width: 50%;
    margin-left: 130px;
    display: block;
}
/*
@media screen and (max-width: 760px){
  .logo{
    width: 300%;
    align-items: center;
  }
}
*/

.btn-menu {
    width: 90%;
    text-align: right;
}
.menu-principal {
    width: 100%; /*Aqui digo pra ele preencher e 100%*/
    /*background-color: aquamarine; /**/
    height: 85px;
    /*background-color: aquamarine;*/
    
}
.btn-menu a { /*Menu texto botões*/
    display: inline-block;
    color: grey;
    text-decoration: none;
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-family: Andale Mono, monospace;
    padding-top: 25px;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
}

.btn-menu a::after { /*Animação do css nos botões do menu*/
    content: " ";
    width: 0%;
    height: 2px;
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.btn-menu a:hover::after{ /*Animação do css nos botões do menu*/
    width: 100%;
}
.borda-redonda{
  border-radius: 40px;
}

.menu-alinhamento-topo {
  margin-bottom: 0px;
}

@media screen and (max-width: 760px){
  .menu-alinhamento-topo{
    margin-bottom: 50px;
  }
}

.espacamento-imgs{
  margin: 10px;
}

.tamanho-imgs-quadrados{
  max-width: 200px;
  border-radius: 40px;
}

.tamanho-imgs-retangulo{
  max-width: 254px;
  border-radius: 40px;
}
.direcao-coluna{
  flex-direction: column;
}
.direcao-linha{
  flex-direction: row;
}
.alinhamento-centro{
  align-items: center;
}

.area1, .area2, .area3, .area4, .area5{
  visibility: hidden;
}
/*Teste Novo Menu*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--royal-blue-light);
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.btn-menu-2 {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--royal-blue-light);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu-2 {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}
/*Parte Slides*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carrosel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.container img {
  display: none;
  width: 100%;
}

.bullets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 1rem;


}

.bullet-single {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
}

.active-bullet {
  /*background-color: rgb(4, 0, 78);*/
  background-color: #74d4cc;

}
/* resposive */

@media screen and (min-width:1025px) and (max-width:1280px){ /*laptops,desktops*/
  
  .container{
    width: 100%;
  }
}

@media screen and(min-width:768px) and (max-width:1024px){ /*tablets,ipads*/  

}
@media screen and(min-width:481px) and (max-width:767px){ /*tablets de baixa resoluçao, celulares*/  

}
@media screen and(min-width:320px) and (max-width:480px){ /*maioria dos celulares moveis*/ 

}
/* resposive */
/*slide carossel*/

/**/

/*Parte Sobre*/

.tamanho-div{
  max-width: 500px;
  
}

/*Fontes e alinhamento do site*/
.flex-box{
  display: flex;
}
.Alinhamento-texto{
  text-align: center;
  align: justify;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
.fonte-texto-karla{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.cor-texto{
  color: gray;
}


.formatacao-linhas{
  line-height: 30px;
}
/*Parte Serviços*/
.container-card{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  height: 350px;
  margin: 25px;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 7);*/
}

.servico-padding{
  margin-left: 90px;
  margin-right: 90px;
}

.card-header{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.card-img{
  min-width: 100%;
  width: 150px;
  height: 100%;
}

.card-body{
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
  background-color: #74d4cc;
  padding: 1px;
}
.card-nome{
  color: gray;
  font-size: 28px;
  margin: 0 0;
  margin-top: 5px;
}
.card-texto{
  color: gray;
  font-size: 14px;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
  margin-top: 5px;
  visibility: hidden;
}
.card:hover{
  transform: scale3d(1.1, 1.1, 1);
  transition: 0.5s;
  height: 450px;
  width: 380px;
}
.card:hover p {
  visibility: visible;
}
/*
@media screen and (max-width: 768px) { 
  .container-card{
      width: 100%;
      flex-direction: column;
  }
}
/*
@media screen and (min-width: 1000px) { 
  .classe-especial{
      display: flex;
  }
}

/*Parte Google Maps*/
.map-box {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: white;
    float: right;
}
.container-flex{
    display: flex;
}
.ajuste-lateral{
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap; /*Deixa responsivo para mobile*/
    /*align-items: center;*/
}


/**Parte responsividade*/
@media screen and (max-width: 768px) { /*Se a tela ficar menor que o tamanho determinado aqui os itens em linha se tornam colunas*/
  /*  
  .ajuste-lateral{
        width: 100%;
        flex-direction: column;
    }
    */
    .direcao-linha{
      flex-direction: column;
    }
    .logo{
      margin-left: 50px;
    }
    .map-box{
      position: relative;
      width: 600px;
      height: 600px;

      background-color: white;
      float: right;
    }
}
/*
@media screen and (max-width: 1000px){
  .logo{
    margin-left: 50px;
  }
}

@media screen and (max-width: 500px){
  .logo{

    align-items: center;
  }

}
*/
/****************************************************************/
/*Parte contatos*/
.alinhamento-contate-nos{
  align-items: center;
  
  margin: 50%;
  margin-top: 10px;
  margin-bottom: -530px;
  position: relative;
  
}

@media screen and (max-width: 838px){
  .alinhamento-contate-nos{
    align-items: center;
    
    margin: 15.5%;
    margin-top: 10px;
    margin-bottom: -150px;
    margin-left: 0%;
    position: relative;
    width: 350px;
    
  }
}


/*
@media screen and (max-width: 791px){
  .alinhamento-contate-nos{
    width: 100%;
    max-width: 20px;
    align-items: center;
  }
}
*/
.fundo-contatos {
  /*background-color: yellow;*/
  margin-left: 40px;
}
@media screen and (max-height: 791px){
  .fundo-contatos{
    margin-left: 20px;
  }
}
.fundo-contatos2 {
  background-color: beige;
}
.tamanho-imgs-logos-email{
  max-width: 70px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-insta{
  max-width: 50px;
  margin-top: 20px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-whats{
  max-width: 80px;
  margin-top: 17px;
  margin-right: 1px;
  margin-left: 0px;
  /*border-radius: 40px;*/
}
.tamanho-imgs-logos-face{
  max-width: 68px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 1px;
  /*border-radius: 40px;*/
}
.ajuste-lateral2{

  display: flex;
  justify-content: space-around;
  flex: 2;
  flex-wrap: wrap; /*Deixa responsivo para mobile*/
  /*align-items: center;*/
}

.contatos-fundo2 {
  /*flex: none;*/
  /*max-resolution: 100%;*/
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  
}

.direcao-coluna2{
  flex-direction: column;
  align-items: center;
}
/*Teste*/

.email-formatacao{
  background-color: #74d4cc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  width: 800px;
  /*box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
}

.email-formatacao form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-formatacao label{
  margin-bottom: 15px;
}

.email-formatacao input{
  padding: 8px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
}

form input:focus{
  border-radius: 16px;
}
form input:hover{
  border-radius: 16px;
}
.email-formatacao textarea{
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 30px;
  transition: all 0.5s;
}

form textarea:focus{
  border-radius: 16px;
}

form textarea:hover{
  border-radius: 16px;
}

.email-formatacao button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #f5f5f5;
  margin-bottom: 20px;
  transition: all 1s;
}

form button:hover{
  border-radius: 16px;
}

/***************************************************************/
/*Parte botão Topo*/

#botao-topo{
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: rgba(127, 255, 212, .5); /*Essa última parte dá efeito de transparência*/
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.seta{
  border: solid gray;
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
}
.cima{
  transform: rotate(-135deg);
}

/**************************************************************/
/*Parte Footer*/
footer{
  background-color: #9fa0a3;
  padding: 10px 0;
}
.container-footer{
  max-width: 2200px;
  padding: 0 4%;
  margin: auto;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 22px;
  color: white;
  margin-bottom: 5%;
  left: 40px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 25px 0;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #cecdcd;
  padding-left: 10px;
}

.footer-col .form-sub input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  position: relative;
  left: 20px;
 
}
.footer-col .form-sub input::placeholder{
  color: rgb(0, 0, 0);
}
.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px; 
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  position: relative;
  left: 30px;
  
         
}

.linha-footer{
color: black;
right: 900px;
border: 0;
border-top: 3px
}

.footer-col h1{
  font-size: 22px;
  color: white;
  margin-bottom: 5%;
  left: 110px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col h5{
  color: rgb(2, 2, 2);
  margin-bottom: 7%;
  left: 650px;
  position: relative;
  text-transform: uppercase;

}
/**************************************/